# Exclude all files
*

# Include only these files / directories
!README.md
!pyproject.toml
!uv.lock
!Dockerfile.*
!src/
!fagstoff/
!public/
!chainlit.md
!.chainlit/config.toml

# Exclude any __pycache__ directories
**/__pycache__/
